body {
	margin: 0;
	padding: 0;
	font-family:'Roboto','Arial', sans-serif;	
	background-color: #fff; 	
	color: #000;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-align: left;


}

.visually-hidden {
	display: none;
}

h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

a {
	text-decoration:none;
	color: #000000;
}

.page-header {

    background-image: url(../img/background/grey-back.png); 	

}

/*Главное верхнее меню сайта*/
.navigation {

}


.catalogue-list,
.socials-list,
.main-navigation,
.basket-button  {
	list-style: none;
	line-height:30px;	
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}

.main-navigation {
	padding-bottom: 10px;
}

.main-navigation {
	width: 440px;
}

.basket-button {
	width: 80px;
}

.main-navigation a {
	color: #000;
}

.main-navigation a:hover {
 color: rgb(251, 86, 90);
}


.main-navigation-item.active {
    border-bottom: 2px solid;
	border-image: url(../img/background/underline.png) 0 0 1 0;


}

/*Слайдер, Сервис — стиль по умолчанию*/



/*Блок Услуги services*/
h3 {
	font-size: 24px;
	line-height: 30px; 	
	text-transform: uppercase;	
}

.button {
	border: none;
}

.button,
.filter-button {
	font-family: inherit;
	text-transform: uppercase;
	line-height: 18px;
}

.button {	
	color: #ffffff;
}

.filter-button {
	color:#000000;
}
.slide-red {
	background-image: url(../img/buttons/btn-slide-neitral.png);	
	background-size: 240px 50px;
}

.slide-red:hover {
    background-image: url(../img/buttons/btn-slide-hover.png);	
}

.slide-red:active {
	background-image: url(../img/buttons/btn-slide-click.png);	
}

.red {
background-image: url(../img/buttons/btn-red-neutral.png);
}
.red:hover {
background-image: url(../img/buttons/btn-red-hover.png);	
}

.red:active {
background-image: url(../img/buttons/btn-red-click.png);	
}

.green {
background-image: url(../img/buttons/btn-green-neutral.png);
}
.green:hover {
background-image: url(../img/buttons/btn-green-hover.png);	
}
.green:active {
background-image: url(../img/buttons/btn-green-click.png);	
}

.yellow {
background-image: url(../img/buttons/btn-yellow-neutral.png);	
}
.yellow:hover {
background-image: url(../img/buttons/btn-yellow-hover.png);	
}
.yellow:active {
background-image: url(../img/buttons/btn-yellow-click.png);	
}

.slide-slogan {
font-size: 55px;
line-height: 55px;
font-weight: 500;
}


/*Блок О НАС класс about*/


p.about-us-title {
font-size: 45px;
line-height: 45px;
font-weight: 500;	
}

p.we-do {
text-transform: uppercase;
font-weight: 700;
}

.about-us-list,
.features, 
.sort-list,
.sort-arrow,
.pagination-list{
list-style: none;
}

.address,
.features-item {
	font-size:16px;
	line-height:18px;		
}

.friends-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.discount {
	line-height: 22px;
}

.numbers {
	font-size: 45px;
	font-weight: 700;
	/*line-height:  ???  */
}
.catalogue-description {
	line-height: 18px;
	text-align: center;	
}


.header {
	font-size:24px;
	line-height:30px;	
	font-weight: 700;
	color: #000;
}
 .address-name {
 	font-size:18px;
	line-height:30px;	
	font-weight: 700;
	text-transform: uppercase;
 }

/*КЛИЕНТЫ*/
a.academy {
	background-image: url(../img/clients/htmlacademy.png);
	display: block;
	width:199px;
	height:69px;
} 
a.academy:hover {
	background-image: url(../img/clients/htmlacademy-hover.png);

} 

a.borodinski {
	background-image: url(../img/clients/borodinski.png);
	display: block;
	width:209px;
	height:90px;
}

a.borodinski:hover {
	background-image: url(../img/clients/borodinski-hover.png);

}

a.pink{
	background-image: url(../img/clients/pink.png);
	display: block;
	width:185px;
	height:52px;
}

a.pink:hover{
	background-image: url(../img/clients/pink-hover.png);
}


a.mishka {
	background-image: url(../img/clients/mishka.png);
	display: block;
	width:173px;
	height:84px;
}

a.mishka:hover {
	background-image: url(../img/clients/mishka-hover.png);
}



/*ДОДЕЛАТЬ*/
.page-footer{
	background-color: #fff;
}

.socials-item {
	background: url(../img/background/Shape-social.png) no-repeat;
    width: 79px;
    height: 79px;
}

img.social-icon {
	vertical-align: middle;
}

/*Блок сортировки*/
legend.title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;

}

.text-value,
.range-text {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;

}

.field-filter {
	font-size: 16px;
	line-height: 20px;
}

.sort-title {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;	
}

.sort-item {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;		

}

.filter-button{}
